body {
  font-family: Serif;
  letter-spacing: 1px;
  max-width: 90%;
  margin: auto;
  background: linear-gradient(to right, #0F2027, #203A43, #2C5364);
  background-image: url("./21.png");
  background-position: bottom, right;
  color: #696969;
}

quote {
  width: 50%;
  display: flex;
text-align: center;
margin: auto;
border-left: 3px solid black;
padding-left: 30px;
margin-top: 80px;
margin-bottom: 80px;
font-style: italic;
font-size: 160%;
background-color: DarkGray;

}


a :hover {
  background: linear-gradient(to right, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
}

a :visited {
  color: yellow;
}
span {
  font-style: italic;
}

#neighbors {
  border-left: 1px solid blue;
}
#Farmer {
  border-left: 1px solid green;
}
header>ul {
  background-color: yellow;
}
.cap{
  text-transform: capitalize;
}
#good{
  color: Green;
}
#bad {
  color: red;
}
.grey{
  background-color: grey;
}
.white{
  background-color: white;
}
q {
  border-left: 5px solid yellow;
}
